[run]
source = src
omit = 
    src/infrastructure/redpanda_client.py
    src/infrastructure/model_client.py
    src/infrastructure/redis_client.py
    tests/*
    setup.py

[report]
exclude_lines = 
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == '__main__':
    pass
    raise ImportError

[html]
directory = coverage_html